@font-face {
  font-family: 'Proxima_Nova_Bold';
  src: url('../fonts/Proxima-Nova-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima_Nova_Light';
  src: url('../fonts/Proxima-Nova-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}